<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link href="{% static 'CSS/style.css' %}" rel="stylesheet" type="text/css">
    <link rel='icon' href="{% static '/Images/face-attendance-icon.png' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
</head>

<body>
    <center>
        {% for message in error_message %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger" role="alert">
            <strong>Error:</strong> {{ message }}
        </div>
        {% elif message.tags == 'success' %}
        <div class="alert alert-success" role="alert">
            <strong>Success:</strong> {{ message }}
        </div>
        {% endif %}
        {% endfor %}
    </center>
    <img class="wave" src="{% static 'Images/login_form_wave.png' %}">
    <div class="container">
        <div class="img">
            <img src="{% static 'Images/login_side_image.png' %}">
        </div>
        <div class="login-box-content">
            <form action="" method="post">
                {% csrf_token %}
                <img src="{% static 'Images/login_profile_icon.svg' %}">
                <h3 class="title">LOGIN HERE</h3>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <input type="text" placeholder="Enter Username" name="username" class="input" required>
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <input type="password" placeholder="Enter Password" name="password" class="input" required>
                    </div>
                </div>

                <input type="submit" class="login-btn" value="Login" name="btnLogin">
                <br />
            </form>
        </div>
    </div>
</body>

</html>
