<!DOCTYPE html>
{% load static %}

<html>
<head>
<title>Student Registration Form</title>
<link href="{% static 'CSS/mark_attendance.css' %}" rel="stylesheet" type="text/css">
<link rel='icon' href="{% static '/Images/face-attendance-icon.png' %}">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  <div class="wrapper">
    <div class="sidebar">
      <a href="{% url 'index' %}"><img src={% static 'Images/FRAS_Logo.png' %}></a>
      <ul>
          <li><a href="{% url 'index' %}"><i class="fas fa-home"></i>Home</a></li>
          <li><a href="{% url 'student' %}"><i class="fas fa-user"></i>Register Student</a></li>
          <li><a href="{% url 'update_record' %}"><i class="fas fa-edit"></i>Update Record</a></li>
          <li><a href="{% url 'mark_attendance' %}"><i class="fas fa-clock"></i>Attendance</a></li>
          <li><a href="{% url 'search_record' %}"><i class="fas fa-search"></i>Search Record</a></li>
          <li><a href="{% url 'teacher' %}"><i class="fas fa-user"></i>Register Teacher</a></li>
          <li><a href="{% url 'login_form' %}"><i class="fas fa-sign-out"></i>Logout</a></li>
          <li><a href="{% url 'admin_faqs' %}"><i class="fas fa-question-circle"></i>Help</a></li>
      </ul>
    </div>
    <div class="attendance_form">
            <!-- <h3 class="title">Mark Attendance</h3> -->
            <div id="container">
                <table>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row ">
                        <label class="form-label" >New Password :</label>
                        {{form.password1}}
                        <p style="color:red;">{{ form.password1.errors }}</p>
                    </div>
                    <br> <br>
                    <div class="row ">
                        <label class="form-label" >Confirm Password :</label>
                        {{form.password2}}
                        <p style="color:red;">{{ form.password2.errors }}</p>
                    </div>
                    <p style="float: right;">
                        <input type="checkbox"  id="showpasswordid">
                    <label>show Password</label> <br>
        
                    </p>
                    <button type="submit" class="btn btn-primary btn-block">Change Password</button>
        
                </form>
            </table>
         <!--   <canvas id="mycanvas" width="600" height="300" style="border: 2px solid #d9d9d9; margin-top: 20px;"></canvas> 
    <textarea id="attendance_area" rows="4" cols="80"></textarea> -->
</div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script>
  
      $(document).ready(function() {
          '{% if passwordchanged %}'
      
                      window.location = "{% url 'index' %}";
      
          '{% endif %}'
  
          $('#showpasswordid').click(function(){
                  if($(this).is(':checked') ){
                      $('#id_password1').attr('type', 'text');
                      $('#id_password2').attr('type', 'text');
                  }else{
                      $('#id_password1').attr('type', 'password');
                      $('#id_password2').attr('type', 'password');
                  }  
              });
          });
      </script>
</body>
</html>