<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Your Password</title>
    <link href="{% static 'CSS/forgot_style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <img class="wave" src="{% static 'Images/login_form_wave.png' %}">
      <div class="forget-box-content">
        <form action="forgot_password.html">
          <h3 class="title">Change Your Password</h3>
          <div class="input-div">
                <input type="text" placeholder="Old Password" name="username" class="input" required><br/>
                <input type="password" placeholder="New Password" name="password" class="input" required><br/>
                <input type="password" placeholder="Confirm Password" name="password" class="input" required><br/>
                <a href="{% url 'login_form' %}">Go Back</a>
          <input type="submit" class="forgot-btn" value="Change Password">
        </form>
      </div>
</body>
</html>