<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
	<title>IRIS Attendece System</title>
  <link href="{% static 'CSS/index-style.css' %}" rel="stylesheet" type="text/css">
  <link rel='icon' href="{% static '/Images/face-attendance-icon.png' %}">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

</head>
<body>
<div class="wrapper">
    {% include "core/sidebar.html" %}
    <div class="main_content">
      {% csrf_token %}
        <div class="row">
          <div class="column" style="background-color: #35495F;">
            <div class="card" style="background-color: #35495F;">
              <a href="{% url 'core:index' %}"><img src ={% static '/Images/home_icon.png' %}/></a>
              <p>Home</p>
            </div>
          </div>
        
          <div class="column" style="background-color: #15A085;">
            <div class="card" style="background-color: #15A085;">
              <a href="{% url 'core:ViewRegisterPerson' %}"><img src ={% static '/Images/online-registration_icon.png' %}/></a>
              <p>Register Person</p>
            </div>
          </div>
          
          <div class="column" style="background-color: #F39C13;">
            <div class="card" style="background-color: #F39C13;">
              <a href="{% url 'core:ViewAttendenceSearch' %}"><img src ={% static '/Images/search_icon.png' %}/></a>
              <p>Search</p>
            </div>
          </div>

          <div class="column" style="background-color: #2A80B9;">
            <div class="card" style="background-color: #2A80B9;">
              <a href="{% url 'core:ViewTrainData' %}"><img src ={% static '/Images/online-registration_icon.png' %}/></a>
              <p>Train Model</p>
            </div>
          </div>
        
          <div class="column" style="background-color: #8E44AD;">
            <div class="card" style="background-color: #8E44AD;">
              <a href="{% url 'core:ViewDetectPerson' %}"><img src ={% static '/Images/help_icon.png' %}/></a>
              <p>Mark Attendece</p>
            </div>
          </div>

          <div class="column" style="background-color: #E74C3D;">
            <div class="card" style="background-color: #E74C3D;">
              <a href="{% url 'AccountApp:ViewLogout' %}"><img src ={% static '/Images/logout_icon.png' %}/></a>
              <p>Logout</p>
            </div>
          </div>
          
          
        </div>


    </div>
</div>

</body>
</html>