<!DOCTYPE html>
{% load static %}

<html>

<head>
    <title>Search</title>
    <link href="{% static 'CSS/teacher_reg.css' %}" rel="stylesheet" type="text/css">
    <link rel='icon' href="{% static '/Images/face-attendance-icon.png' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="wrapper">
        {% include "core/sidebar.html" %}
        <div class="full_reg_form d-flex flex-column">
            <div class="table-responsive">
                <form method="get">
                    <input type="submit" name="export" value="Export to Excel" class="btn btn-primary mb-3">
                </form>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Unique ID</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Present</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for information in Attendance_Record %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{User.custom_unique_id}}</td>
                            <td>{{User.username}}</td>
                            <td>{{information.date}}</td>
                            <td>{{information.time}}</td>
                            <td>{{information.is_present}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pagination">
                    <span class="step-links">
                        {% if Attendance_Record.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ Attendance_Record.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ Attendance_Record.number }} of {{ Attendance_Record.paginator.num_pages }}.
                        </span>

                        {% if Attendance_Record.has_next %}
                            <a href="?page={{ Attendance_Record.next_page_number }}">next</a>
                            <a href="?page={{ Attendance_Record.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>
