<!DOCTYPE html>
{% load static %}

<html lang="en">
 
<head>
  <title>Search Attendance Record</title>
  <link href="{% static 'CSS/search_record_style.css' %}" rel="stylesheet" type="text/css">
  <link rel='icon' href="{% static '/Images/face-attendance-icon.png' %}">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <style>
    table, th, td {
       border: 1px solid black;
    }
    td{
      text-align: center;
    }
 </style>
</head>

<body>
	<div class="wrapper">
	  <div class="sidebar">
		<a href="{% url 'teacher_panel' %}"><img src={% static 'Images/FRAS_Logo.png' %}></a>
		<ul>
			<li><a href="{% url 'index' %}"><i class="fas fa-home"></i>Home</a></li>
          <li><a href="{% url 'student' %}"><i class="fas fa-user"></i>Register Student</a></li>
          <li><a href="{% url 'search_record' %}"><i class="fas fa-search"></i>Search & Update</a></li>
          <li><a href="{% url 'teacher' %}"><i class="fas fa-user"></i>Register Teacher</a></li>
          <li><a href="{% url 'login_form' %}"><i class="fas fa-sign-out"></i>Logout</a></li>
          <li><a href="{% url 'admin_faqs' %}"><i class="fas fa-question-circle"></i>Help</a></li>
		  </ul> 
	  </div>
	  
	</div>
  
  

	{% for message in messages %}
	{% if message.tags == 'error' %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% else %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endif %}
{% endfor %}
{% if ta == False %}
<center><h2>Search Attendence</h2></center>
<br/>
<div class="row">
	<div class="col-2"></div>
<div class="col-10">

		<center>
			<form method="get">
				{{myFilter.form}}

				<button class="btn btn-warning" type="submit">Search</button>
			</form>
		</center>
</div>
</div>
<br>

<div class="row">
	<div class="col-md-2" style="margin-top: 20px;"></div>

<div class="col-sm-9">
	<div class="card card-body">
		<table class="table table-sm">
			<tr>
				<th>Student ID</th>
				<th>Department</th>
				<th>Semester</th>
				<th>Program</th>
				<th>Lecture</th>
				<th>Date</th>
				<th>Status</th>
			</tr>

			{% for attendence in attendences %}

			<tr>
				<td>{{ attendence.Student_ID }}</td>
				<td>{{ attendence.department }}</td>
				<td>{{ attendence.semester }}</td>
				<td>{{ attendence.program }}</td>
				<td>{{ attendence.period }}</td>
				<td>{{ attendence.date }} {{ attendence.time }}</td>

				<td>{{ attendence.status }}</td>
			</tr>
			{% endfor %}

		</table>
	</div>
</div>
</div>
{% else %}
<center><h2>Present Lecture Attendence</h2></center>
<div class="row">
	<div class="col-md-2" style="margin-top: 20px;"></div>

	<div class="col-sm-9">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Student ID</th>
					<th>Department</th>
					<th>Semester</th>
					<th>Program</th>
					<th>Lecture</th>
					<th>Date</th>

					<th>Status</th>
				</tr>

				{% for attendence in attendences %}

				<tr>
					<td>{{ attendence.Student_ID }}</td>
					<td>{{ attendence.department }}</td>
					<td>{{ attendence.semester }}</td>
					<td>{{ attendence.program }}</td>
					<td>{{ attendence.period }}</td>
				<td>{{ attendence.date }} {{ attendence.time }}</td>

					<td>{{ attendence.status }}</td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>
{% endif %}
  
  </body>