<div class="sidebar">
    <a href="{% url 'core:index' %}"><img src="{{Set_Logo.logo_of_project.url}}"></a>
    <ul>
      <li><a href="{% url 'core:index' %}"><i class="fas fa-home"></i>Home</a></li>
          <li><a href="{% url 'AccountApp:ViewRegisterPerson' %}"><i class="fas fa-user"></i>Register Person</a></li>
          <li><a href="{% url 'core:ViewAttendenceSearch' %}"><i class="fas fa-search"></i>Search</a></li>
          <li><a href="{% url 'core:ViewTrainData' %}"><i class="fas fa-user"></i>Train Model</a></li>
          <li><a href="{% url 'core:ViewDetectPerson' %}"><i class="fas fa-question-circle"></i>Mark Attendance</a></li>
          <li><a href="{% url 'AccountApp:ViewLogout' %}"><i class="fas fa-sign-out"></i>Logout</a></li>
      </ul>
</div>