<!DOCTYPE html>
{% load static %}

<html>

<head>
    <title>Student Registration Form</title>
    <link href="{% static 'CSS/student_reg.css' %}" rel="stylesheet" type="text/css">
    <link rel='icon' href="{% static '/Images/face-attendance-icon.png' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <a href="#"><img src={% static 'Images/FRAS_Logo.png' %}></a>
            <ul>
                <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="#"><i class="fas fa-user"></i>Register Student</a></li>
                <li><a href="#"><i class="fas fa-search"></i>Search & Update</a></li>
                <li><a href="#"><i class="fas fa-user"></i>Register Teacher</a></li>
                <li><a href="#"><i class="fas fa-sign-out"></i>Logout</a></li>
                <li><a href="#"><i class="fas fa-question-circle"></i>Help</a></li>
            </ul> 
        </div>
        <div class="full_reg_form">
            <div class="reg_form">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table style="width: 100%;">
                        <caption>Registration form</caption>
                        <tr>
                            <th>Student Name</th>
                            <td><input type="text" class="input" name="fname" maxlength="30" title="Enter Name"
                                    placeholder="Enter Student Name" required /></td>
                        </tr>
                        <tr>
                            <th>Student Arid ID</th>
                            <td><input type="text" class="input" name="student_id" placeholder="Enter Student ID"
                                    required />
                                <span style="color:red">{{useriderror}}</span>
                            </td>

                        </tr>
                        <tr>
                            <th>Student Department</th>
                            <td>
                                <select name="department" id="department" class="input" class="form-control" placeholder="Department"
                                    required>
                                    <option value="" disabled selected>Department</option>
                                    <option value="Computer Science">Computer Science</option>
                                    <option value="Life Science">Life Science</option>
                                    <option value="BBA">BBA</option>
                                    <option value="Math">Math</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Student Program</th>
                            <td>
                                <select name="program" id="program" class="input" class="form-control" placeholder="Student Program"
                                    required>
                                    <option value="" disabled selected>Student Program</option>
                                    <option value="BSCS">BSCS</option>
                                    <option value="BSIT">BSIT</option>
                                    <option value="BSCS (AI)">BSCS (AI)</option>
                                    <option value="BSSE">BSSE</option>
                                    <option value="BS Zoology">BS Zoology</option>
                                    <option value="BS Botany">BS Botany</option>
                                    <option value="BS Biochemistry">BS Biochemistry</option>
                                    <option value="BS Math">BS Math</option>
                                    <option value="BS Microbiology">BS Microbiology</option>

                                    <option value="BS HND">BS HND</option>
                                    <option value="BBA 2 Years">BBA 2 Years</option>
                                    <option value="BBA">BBA</option>


                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Student Semester</th>
                            <td>
                                <select name="semester" id="semester" class="input" class="form-control" placeholder="Semester"
                                    required>
                                    <option value="" disabled selected>Select Semester</option>
                                    <option value=1>Semester 1</option>
                                    <option value=2>Semester 2</option>
                                    <option value=3>Semester 3</option>
                                    <option value=4>Semester 4</option>
                                    <option value=5>Semester 5</option>
                                    <option value=6>Semester 6</option>
                                    <option value=7>Semester 7</option>
                                    <option value=8>Semester 8</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <input class="reg_btn" type="submit" />
                                <input class="reg_btn" type="reset" value="Reset" />
                            </td>
                        </tr>
                    </table>

            </div>
            <div class="cam">
                <div class="video-wrap">
                    <video id="video" width="640" height="480" autoplay></video>
    
                </div>
                <div class="controller"><input type="submit" id="snap" class="student-pic-btn" value="Take Picture">
                </div>
    
            </div>

            
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static '/assets/js/webcam.js' %}"></script>
</body>

</html>