<!DOCTYPE html>
{% load static %}

<html lang="en">
 
<head>
    <title>Search Record</title>
    <link href="{% static 'CSS/search_record_style.css' %}" rel="stylesheet" type="text/css">
    <link rel='icon' href="{% static '/Images/face-attendance-icon.png' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  <link href="{% static 'CSS/search_record_style.css' %}" rel="stylesheet" type="text/css">
  <link rel='icon' href="{% static '/Images/face-attendance-icon.png' %}">

  <style>
    table, th, td {
       border: 1px solid black;
    }
    td{
      text-align: center;
    }
 </style>
</head>

<body>
  <div class="wrapper">
    <div class="sidebar">
        <a href="{% url 'teacher_panel' %}"><img src={% static 'Images/FRAS_Logo.png' %}></a>
        <ul>
            <li><a href="{% url 'teacher_panel' %}"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="{% url 'teacher_search_record' %}"><i class="fas fa-search"></i>Search & Update</a></li>
            <li><a href="{% url 'take_attendance' %}"><i class="fas fa-clock"></i>Mark Attendance</a></li>
            <li><a href="{% url 'searchAttendence' %}"><i class="fas fa-clock"></i>Attendance Record</a></li>
            <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out"></i>Logout</a></li>
            <li><a href="{% url 'teacher_faqs' %}"><i class="fas fa-question-circle"></i>Help</a></li>
          </ul> 
      </div>

  <div class="row">
    <div class="col-md-3" style="margin-top: 20px;"></div>
    <div class="col-md-6" style="margin-top: 20px;">
        <div class="card card-body">
            <center><h3>Take Attendence</h3></center>
            <form class="form-horizontal" action="{% url 'take_attendance' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="sel1">Select Department:</label>
                    <select name='department' class="form-control" id="sel1" required>
                        <option value="" disabled selected>Department</option>
                        <option value="Computer Science">Computer Science</option>
                        <option value="Life Science">Life Science</option>
                        <option value="BBA">BBA</option>
                        <option value="Math">Math</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sel1">Select Semester:</label>
                    <select name='semester' class="form-control" id="sel1" required>
                        <option value="" disabled selected>Select Semester</option>
                        <option value=1>Semester 1</option>
                        <option value=2>Semester 2</option>
                        <option value=3>Semester 3</option>
                        <option value=4>Semester 4</option>
                        <option value=5>Semester 5</option>
                        <option value=6>Semester 6</option>
                        <option value=7>Semester 7</option>
                        <option value=8>Semester 8</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sel1">Select Program:</label>
                    <select name='program' class="form-control" id="sel1" required>
                        <option value="" disabled selected>Student Program</option>
                        <option value="BSCS">BSCS</option>
                        <option value="BSIT">BSIT</option>
                        <option value="BSCS (AI)">BSCS (AI)</option>
                        <option value="BSSE">BSSE</option>
                        <option value="BS Zoology">BS Zoology</option>
                        <option value="BS Botany">BS Botany</option>
                        <option value="BS Biochemistry">BS Biochemistry</option>
                        <option value="BS Math">BS Math</option>
                        <option value="BS Microbiology">BS Microbiology</option>

                        <option value="BS HND">BS HND</option>
                        <option value="BBA 2 Years">BBA 2 Years</option>
                        <option value="BBA">BBA</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sel1">Select Lecture:</label>
                    <select name='period' class="form-control" id="sel1" required>
                        <option value="" disabled selected>Select Lecture</option>

                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-block btn-warning">Take Attendence</button>
            </form>
        </div>
    </div>

</div>




</body>

</html>