<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
	<title>Face Recognition Attendance System</title>
  <link href="{% static 'CSS/Teacher_Panel_Style.css' %}" rel="stylesheet" type="text/css">
  <link rel='icon' href="{% static '/Images/face-attendance-icon.png' %}">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
      <a href="{% url 'teacher_panel' %}"><img src={% static 'Images/FRAS_Logo.png' %}></a>
      <ul>
        <li><a href="{% url 'teacher_panel' %}"><i class="fas fa-home"></i>Home</a></li>
        <li><a href="{% url 'teacher_search_record' %}"><i class="fas fa-search"></i>Search & Update</a></li>
        <li><a href="{% url 'take_attendance' %}"><i class="fas fa-clock"></i>Mark Attendance</a></li>
        <li><a href="{% url 'searchAttendence' %}"><i class="fas fa-clock"></i>Attendance Record</a></li>
        <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out"></i>Logout</a></li>
        <li><a href="{% url 'teacher_faqs' %}"><i class="fas fa-question-circle"></i>Help</a></li>
      </ul> 
    </div>
    <div class="main_content">

        <div class="row">
            <div class="column" style="background-color: #35495F;">
              <div class="card" style="background-color: #35495F;">
                <a href="{% url 'teacher_panel' %}"><img src ={% static 'Images/home_icon.png' %}></a>
                <p>Home</p>
              </div>
            </div>
            
            <div class="column" style="background-color: #F39C13;">
              <div class="card" style="background-color: #F39C13;">
                <a href="{% url 'searchAttendence' %}"><img src ={% static '/Images/attendance_icon.png' %}/></a>
                <p>Search Attendance</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="column" style="background-color: #E74C3D;">
              <div class="card" style="background-color: #E74C3D;">
                <a href="{% url 'teacher_search_record' %}"><img src ={% static 'Images/search_icon.png' %}></a>
                <p>Update Record</p>
              </div>
            </div>
            
            <div class="column" style="background-color: #8E44AD;">
              <div class="card" style="background-color: #8E44AD;">
                
                <a href="{% url 'logout' %}"><img src ="{% static 'Images/logout_icon.png' %}"></a>
                <p>Logout</p>
              </div>
            </div>
            
          </div>
          <div class="row">

            <div class="column" style="background-color: #2A80B9;">
              <div class="card" style="background-color: #2A80B9;">
                
                <a href="{% url 'take_attendance' %}"><img src ="{% static '/Images/attendance_icon.png' %}"></a>
                <p>Mark Attendance</p>
              </div>
            </div>
            <div class="column" style="background-color: #15A085;">
              <div class="card" style="background-color: #15A085;">
                <a href="{% url 'teacher_faqs' %}"><img src ={% static '/Images/help_icon.png' %}/></a>
                <p>Help</p>
              </div>
            </div>

          </div>

    </div>
</div>

</body>
</html>