<!DOCTYPE html>
{% load static %}

<html>

<head>
    <title>Train Data</title>
    <link href="{% static 'CSS/student_reg.css' %}" rel="stylesheet" type="text/css">
    <link rel='icon' href="{% static '/Images/face-attendance-icon.png' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
</head>

<body>
    <div class="wrapper">
        {% include "core/sidebar.html" %}
        <div class="full_reg_form">
            <div class="reg_form">
                <h2>Train Data</h2>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
              <br>
              <br>
              <br>
              <br>

                    <h3>{{Message}}</h3>
                    <input type="submit" id="snap" value="Train Data">

                </form>
            </div>

        </div>

    </div>
    </div>

</body>

</html>